In [9]:
import pandas as pd #tablas https://pandas.pydata.org/docs/user_guide/pyarrow.html
import numpy as np #estadistica https://numpy.org/doc/1.25/user/index.html#user
import matplotlib.pyplot as plt #gráficos https://matplotlib.org/stable/plot_types/index.html
import seaborn as sns #gráficos https://seaborn.pydata.org/tutorial/regression.html
from sklearn import linear_model #modelo de regresion https://scikit-learn.org/stable/
from sklearn.preprocessing import MinMaxScaler # do not use the function Normalise() - it does something entirely different
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from datetime import datetime #https://docs.python.org/3/library/datetime.html
from datetime import timedelta #this is a good time to learn about dates and timestamps. You can find some info here:
from sklearn.linear_model import LogisticRegression
from sklearn.utils import resample
from imblearn.over_sampling import SMOTE
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.neighbors import KNeighborsClassifier
from scipy.stats import ttest_1samp
import scipy.stats as st
from sklearn.neighbors import KNeighborsClassifier
from mlxtend.plotting import plot_decision_regions
import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine  # for establishing the connection and authentication
from getpass import getpass  # To get the password without showing the input
from sklearn.model_selection import cross_val_score
from xgboost import XGBRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

1. Bring data from SQL server start_up

In [10]:
password = getpass()

In [11]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/start_up'
engine = create_engine(connection_string)
query = '''SELECT * FROM training_test_data;'''

df = pd.read_sql_query(query, engine)

In [12]:
df

,permalink,name,funding_total_usd,status,country_code,funding_rounds,last_funding_at,lapse_months,main_industry,second_industry,cluster_industry
0,/organization/1-mainstream,1 Mainstream,5000000.0,1,USA,1,2015,0.0,Apps,Cable,Other
1,/organization/1000-markets,1000 Markets,500000.0,1,USA,1,2009,0.0,Art,E-Commerce,Other
2,/organization/1000memories,1000memories,2535000.0,1,USA,2,2011,14.0,Curated Web,None,Web
3,/organization/100plus,100Plus,1250000.0,1,USA,2,2011,1.0,Analytics,None,Analytics
4,/organization/1010data,1010data,35000000.0,1,USA,1,2010,0.0,Software,None,Other
...,...,...,...,...,...,...,...,...,...,...,...
11138,/organization/zyncro,Zyncro,3805520.0,1,ESP,2,2012,10.0,Cloud Computing,Enterprise 2.0,Other
11139,/organization/zynerba-pharmaceuticals,Zynerba Pharmaceuticals,13000000.0,1,USA,1,2014,0.0,Pharmaceuticals,None,Other
11140,/organization/zynga,Zynga,866550786.0,1,USA,9,2011,50.0,Facebook Applications,Games,Other
11141,/organization/zyraz-technology,Zyraz Technology,15419877.0,0,MYS,4,2013,61.0,Biotechnology,None,Other
11142,/organization/zystor,Zystor,8500000.0,1,USA,1,2004,0.0,Biotechnology,None,Other

2. Dropping unnecesarry columns

In [13]:
df = df.drop(["permalink","name","main_industry","second_industry"], axis=1)

In [14]:
df.head()

,funding_total_usd,status,country_code,funding_rounds,last_funding_at,lapse_months,cluster_industry
0,5000000.0,1,USA,1,2015,0.0,Other
1,500000.0,1,USA,1,2009,0.0,Other
2,2535000.0,1,USA,2,2011,14.0,Web
3,1250000.0,1,USA,2,2011,1.0,Analytics
4,35000000.0,1,USA,1,2010,0.0,Other

3. Models: KNN classifier, Decission tree classifier, Logistic regression

In [15]:
X = df.drop("status", axis=1)
y = df["status"]

In [16]:

X_num= X.select_dtypes(include=[np.number])
X_cat = X.select_dtypes(include='object')

In [17]:
X_num.head()

   funding_total_usd  funding_rounds  last_funding_at  lapse_months
0          5000000.0               1             2015           0.0
1           500000.0               1             2009           0.0
2          2535000.0               2             2011          14.0
3          1250000.0               2             2011           1.0
4         35000000.0               1             2010           0.0

In [18]:
X_cat.head()

  country_code cluster_industry
0          USA            Other
1          USA            Other
2          USA              Web
3          USA        Analytics
4          USA            Other

In [19]:
#One hot encode
encoder = OneHotEncoder().fit(X_cat)
encoded = encoder.transform(X_cat).toarray()
unique_values = [encoder.categories_[i] for i in range(len(X_cat.columns))]
onehot_encoded = pd.DataFrame(encoded, columns=[f"{col}_{value}" for col, values in zip(X_cat.columns, unique_values) for value in values])

In [20]:
X = pd.concat([X_num, onehot_encoded], axis=1)

In [21]:
X

,funding_total_usd,funding_rounds,last_funding_at,lapse_months,country_code_ARE,country_code_ARG,country_code_AUS,country_code_AUT,country_code_BEL,country_code_BGR,...,cluster_industry_Analytics,cluster_industry_B2C,cluster_industry_Internet,cluster_industry_Management,cluster_industry_Other,cluster_industry_Search Engine,cluster_industry_Services,cluster_industry_Social,cluster_industry_Social Media,cluster_industry_Web
0,5000000.0,1,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,500000.0,1,2009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2535000.0,2,2011,14.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1250000.0,2,2011,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,35000000.0,1,2010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11138,3805520.0,2,2012,10.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11139,13000000.0,1,2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11140,866550786.0,9,2011,50.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11141,15419877.0,4,2013,61.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11142,8500000.0,1,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [22]:
from sklearn.tree import DecisionTreeClassifier
model1 = DecisionTreeClassifier()
from sklearn.linear_model import LogisticRegression
model2 = LogisticRegression(max_iter=1000) 
from sklearn.neighbors import KNeighborsClassifier
model3 = KNeighborsClassifier()

scaler = StandardScaler()
X1 = scaler.fit_transform(X)

X_train, X_val, y_train, y_val = train_test_split(X1, y, test_size=0.2)


model_pipeline = [model1, model2, model3]
model_names = ['Decision Tree Classifier', 'Logistic Regression', 'KNN']

scores = {}

for model, model_name in zip(model_pipeline, model_names):
    mean_score = np.mean(cross_val_score(model, X_train, y_train, cv=5))
    scores[model_name] = mean_score

print(scores)

{'Decision Tree Classifier': 0.6552612810978861, 'Logistic Regression': 0.6940753581807984, 'KNN': 0.6883540332596231}